<div class="row">
        <div class="col-sm-8 col-sm-offset-2 col-md-8 col-md-offset-2 text-center">
          <h1>Vytvorenie študenta</h1>
          <div class="box box-primary">
            <div class="box-header with-border">
            </div>
            <form role="form">
              <div class="box-body">
                <div class="form-group">
                  <label for="studentName">Meno študenta</label>
                  <input type="text" class="form-control" id="studentName" placeholder="Zadajte meno študenta">
                </div>
                <div class="form-group">
                  <label>Workshop</label>
                  <select class="form-control">
                    <option>Java</option>
                    <option>AngularJS</option>
                    <option>ReactJS</option>
                    <option>C#</option>
                  </select>
                </div>
                <div class="form-group">
                  <label for="studentEmail">Email</label>
                  <input type="email" class="form-control" id="studentEmail" placeholder="Zadajte email študenta">
                </div>
                <div class="form-group">
                  <label for="studentName">CV popis</label>
                  <input type="text" class="form-control" id="studentName" placeholder="Zadajte popis CV">
                </div>
                <div class="form-group">
                  <label>Po ukončení kurzu</label>
                  <div class="radio">
                    <label>
                      <input type="radio" name="optionsRadios" id="optionsRadios1" value="option1" checked="">HPP</label>
                  </div>
                  <div class="radio">
                    <label>
                      <input type="radio" name="optionsRadios" id="optionsRadios2" value="option2">OSVC</label>
                  </div>
                </div>
                <div class="form-group">
                  <label>Preferované mesto pre zamestnanie</label>
                  <select class="form-control">
                    <option>Banská Bystrica</option>
                    <option>Bratislava</option>
                    <option>Brno</option>
                    <option>Praha</option>
                  </select>
                </div>
              </div>
              <div class="box-footer">
                <button type="submit" class="btn btn-primary" onclick="createStudent();">Submit</button>
              </div>
              <script>
                var createStudent = function(){
                  window.alert('Študent bol pridaný.');
                }
              </script>
            </form>
          </div>
        </div>
      </div>