<div class="row">
        <div class="col-sm-8 col-sm-offset-2 col-md-8 col-md-offset-2 text-center">
          <h1>Pridanie kurzu</h1>
          <div class="box box-primary">
            <div class="box-header with-border">
            </div>
            <!-- /.box-header -->
            <!-- form start -->
            <form role="form">
              <div class="box-body">
                <div class="form-group">
                  <label for="name">Názov kurzu</label>
                  <input type="text" class="form-control" id="name" placeholder="Zadajte názov kurzu">
                </div>
                <div class="form-group">
                  <label for="description">Popis</label>
                  <input type="text" class="form-control" id="description" placeholder="Zadajte popis kurzu">
                </div>
                <div class="form-group">
                  <label>Dátum začatia kurzu</label>
                  <div class="input-group date">
                    <div class="input-group-addon">
                      <i class="fa fa-calendar"></i>
                    </div>
                    <input type="text" class="form-control pull-right" id="datepicker">
                  </div>
                  <!-- /.input group -->
                </div>
                <script>
                  $(function () {
                    //Date picker
                    $('#datepicker').datepicker({
                      autoclose: true
                    })
                  })
                </script>
                <div class="form-group">
                  <label for="lessons">Počet vyučovacích hodín</label>
                  <input type="text" class="form-control" id="lessons" placeholder="Zadajte počet vyučovacích hodín">
                </div>
              </div>
              <div class="box-footer">
                <button type="submit" class="btn btn-primary" onclick="createCourse();">Submit</button>
              </div>
              <script>
                var createCourse = function(){
                  window.alert('Kurz bol vytvorený.');
                }
              </script>
            </form>
          </div>
        </div>
      </div>