<div class="row">
        <div class="col-sm-8 col-sm-offset-2 col-md-8 col-md-offset-2 text-center">
          <h1>Detail kurzu - student</h1>
        </div>
      </div>
      <div class="row">
        <div class="col-sm-10 col-sm-offset-1 col-md-10 col-md-offset-1">
          <div class="alert alert-info alert-dismissible">
            <h4>Workshop name</h4>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-sm-10 col-sm-offset-1 col-md-10 col-md-offset-1">
          <div>
            <div class="box">
              <div class="box-body">
                <div id="example2_wrapper" class="dataTables_wrapper form-inline dt-bootstrap">
                  <div class="row">
                    <div class="col-sm-12">
                      <table id="example2" class="table table-bordered table-hover dataTable" role="grid" aria-describedby="example2_info">
                        <thead>
                          <tr role="row">
                            <th class="sorting_desc" tabindex="0" aria-controls="example2" rowspan="1" colspan="1" aria-label="Rendering engine: activate to sort column ascending" aria-sort="descending">Issue</th>
                            <th class="sorting" tabindex="0" aria-controls="example2" rowspan="1" colspan="1" aria-label="Browser: activate to sort column ascending">Due Date</th>
                            <th class="sorting" tabindex="0" aria-controls="example2" rowspan="1" colspan="1" aria-label="Platform(s): activate to sort column ascending">Status</th>
                            <th class="sorting" tabindex="0" aria-controls="example2" rowspan="1" colspan="1" aria-label="Engine version: activate to sort column ascending">Action</th>
                          </tr>
                        </thead>
                        <tbody>
                          <tr role="row" class="odd">
                            <td class="sorting_1">Student A</td>
                            <td>tomorrow</td>
                            <td>Done</td>
                            <td><a href="#">Detail</a></td>
                          </tr>
                          <tr role="row" class="even">
                            <td class="sorting_1">Student B</td>
                            <td>tomorrow</td>
                            <td>Pending</td>
                            <td><a href="#">Detail</a></td>
                          </tr>
                          <tr role="row" class="odd">
                            <td class="sorting_1">Student C</td>
                            <td>tomorrow</td>
                            <td>To test</td>
                            <td><a href="#">Detail</a></td>
                          </tr>
                          <tr role="row" class="even">
                            <td class="sorting_1">Student D</td>
                            <td>tomorrow</td>
                            <td>In review</td>
                            <td><a href="#">Detail</a></td>
                          </tr>
                        </tbody>
                      </table>
                    </div>
                  </div>
                </div>
              </div>
              <!-- /.box-body -->
            </div>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-sm-10 col-sm-offset-1 col-md-10 col-md-offset-1">
          <div>
            <div class="box">
              <div class="box-body">
                <div id="example2_wrapper" class="dataTables_wrapper form-inline dt-bootstrap">
                  <div class="row">
                    <div class="col-sm-12">
                      <table id="example2" class="table table-bordered table-hover dataTable" role="grid" aria-describedby="example2_info">
                        <thead>
                          <tr role="row">
                            <th class="sorting_desc" tabindex="0" aria-controls="example2" rowspan="1" colspan="1" aria-label="Rendering engine: activate to sort column ascending" aria-sort="descending">Lesson</th>
                            <th class="sorting" tabindex="0" aria-controls="example2" rowspan="1" colspan="1" aria-label="Browser: activate to sort column ascending">Video</th>
                            <th class="sorting" tabindex="0" aria-controls="example2" rowspan="1" colspan="1" aria-label="Platform(s): activate to sort column ascending">Slides</th>
                          </tr>
                        </thead>
                      <tbody>
                        <tr role="row" class="odd">
                          <td class="sorting_1">Lesson A</td>
                          <td><a href="#">Video</a></td>
                          <td><a href="#">Slides</a></td>
                        </tr>
                        <tr role="row" class="even">
                          <td class="sorting_1">Lesson B</td>
                          <td><a href="#">Video</a></td>
                          <td><a href="#">Slides</a></td>
                        </tr>
                        <tr role="row" class="odd">
                          <td class="sorting_1">Lesson C</td>
                          <td><a href="#">Video</a></td>
                          <td><a href="#">Slides</a></td>
                        </tr>
                        <tr role="row" class="even">
                          <td class="sorting_1">Lesson D</td>
                          <td><a href="#">Video</a></td>
                          <td><a href="#">Slides</a></td>
                        </tr>
                      </tbody>
                    </table>
                  </div>
                </div>
              </div>
              <!-- /.box-body -->
            </div>
          </div>
        </div>
      </div>