<div class="row">
        <div class="col-sm-8 col-sm-offset-2 col-md-8 col-md-offset-2 text-center">
          <h1>Profil lektora</h1>
        </div>
      </div>
      <div class="row">
        <div class="col-sm-4 col-sm-offset-2 col-md-4 col-md-offset-2 text-center">
          <img src="http://via.placeholder.com/250x250">
        </div>
        <div class="col-sm-4 col-md-4">
          <p class="profile-info">Name Surname</p>
          <p class="profile-info">Email</p>
          <p class="profile-info">Age</p>
          <p class="profile-info">.</p>
          <p class="profile-info">.</p>
        </div>
      </div>
      <div class="row">
        <div class="col-sm-10 col-sm-offset-1 col-md-10 col-md-offset-1">
          <div>
            <div class="box">
              <div class="box-body">
                <div id="example2_wrapper" class="dataTables_wrapper form-inline dt-bootstrap">
                  <div class="row">
                    <div class="col-sm-12">
                      <table id="example2" class="table table-bordered table-hover dataTable" role="grid" aria-describedby="example2_info">
                        <thead>
                          <tr role="row">
                            <th class="sorting_desc" tabindex="0" aria-controls="example2" rowspan="1" colspan="1" aria-label="Rendering engine: activate to sort column ascending" aria-sort="descending">Kurz</th>
                            <th class="sorting" tabindex="0" aria-controls="example2" rowspan="1" colspan="1" aria-label="Browser: activate to sort column ascending">Start</th>
                            <th class="sorting" tabindex="0" aria-controls="example2" rowspan="1" colspan="1" aria-label="Platform(s): activate to sort column ascending">Students</th>
                            <th class="sorting" tabindex="0" aria-controls="example2" rowspan="1" colspan="1" aria-label="Engine version: activate to sort column ascending">Action</th>
                          </tr>
                        </thead>
                      <tbody>
                        <tr role="row" class="odd">
                          <td class="sorting_1">Angular</td>
                          <td>11.10.2017</td>
                          <td>10</td>
                          <td><a href="angular-course-detail-lectorer.html">Detail</a></td>
                        </tr>
                        <tr role="row" class="even">
                          <td class="sorting_1">React</td>
                          <td>11.10.2017</td>
                          <td>4</td>
                          <td><a href="#">Detail</a></td>
                        </tr>
                        <tr role="row" class="odd">
                          <td class="sorting_1">Java</td>
                          <td>11.10.2017</td>
                          <td>7</td>
                          <td><a href="#">Detail</a></td>
                        </tr>
                        <tr role="row" class="even">
                          <td class="sorting_1">C#</td>
                          <td>11.10.2017</td>
                          <td>5</td>
                          <td><a href="#">Detail</a></td>
                        </tr>
                      </tbody>
                      <tfoot>
                        <tr>
                          <th rowspan="1" colspan="1">Kurz</th>
                          <th rowspan="1" colspan="1">Start</th>
                          <th rowspan="1" colspan="1">Students</th>
                          <th rowspan="1" colspan="1">Action</th>
                      </tfoot>
                    </table>
                  </div>
                </div>
              </div>
              <!-- /.box-body -->
            </div>
          </div>
        </div>
      </div>