<div class="row">
        <div class="col-sm-8 col-sm-offset-2 col-md-8 col-md-offset-2 text-center">
          <h1>Pridanie vyuťujúceho</h1>
          <div class="box box-primary">
            <div class="box-header with-border">
            </div>
            <!-- /.box-header -->
            <!-- form start -->
            <form role="form">
              <div class="box-body">
                <div class="form-group">
                  <label for="name">Meno vyučujúceho</label>
                  <input type="text" class="form-control" id="name" placeholder="Zadajte názov kurzu">
                </div>
                <div class="form-group">
                  <label>Vyučovací kurz</label>
                  <div class="radio">
                    <label>
                      <input type="radio" name="optionsRadios" id="optionsRadios1" value="option1" checked="">AngularJS</label>
                  </div>
                  <div class="radio">
                    <label>
                      <input type="radio" name="optionsRadios" id="optionsRadios2" value="option2">ReactJS</label>
                  </div>
                  <div class="radio">
                    <label>
                      <input type="radio" name="optionsRadios" id="optionsRadios2" value="option2">Java</label>
                  </div>
                  <div class="radio">
                    <label>
                      <input type="radio" name="optionsRadios" id="optionsRadios2" value="option2">C#</label>
                  </div>
                </div>
                <div class="form-group">
                  <label>Typ uväzku</label>
                  <div class="radio">
                    <label>
                      <input type="radio" name="optionsRadios" id="optionsRadios1" value="option1" checked="">Full-time</label>
                  </div>
                  <div class="radio">
                    <label>
                      <input type="radio" name="optionsRadios" id="optionsRadios2" value="option2">Part-time</label>
                  </div>
                </div>
              </div>
              <div class="box-footer">
                <button type="submit" class="btn btn-primary" onclick="createLecturer();">Submit</button>
              </div>
              <script>
                var createLecturer = function(){
                  window.alert('vyučujúci bol pridaný.');
                }
              </script>
            </form>
          </div>
        </div>
      </div>