<div class="row">
        <div class="col-sm-8 col-sm-offset-2 col-md-8 col-md-offset-2 text-center">
          <h1>Detail kurzu angular - lektor</h1>
        </div>
      </div>
      <div class="row">
        <div class="col-sm-4 col-sm-offset-1 col-md-4 col-md-offset-1">
          <div class="box box-solid">
            <div class="box-body">
              <p class="course-info">Workshop name</p>
              <p class="course-info">Language</p>
              <p class="course-info">Start date</p>
              <p class="course-info">Description</p>
              <p class="course-info">Number of lessons</p>
            </div>
            <!-- /.box-body -->
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-sm-10 col-sm-offset-1 col-md-10 col-md-offset-1">
          <div>
            <div class="box">
              <div class="box-body">
                <div id="example2_wrapper" class="dataTables_wrapper form-inline dt-bootstrap">
                  <div class="row">
                    <div class="col-sm-12">
                      <table id="example2" class="table table-bordered table-hover dataTable" role="grid" aria-describedby="example2_info">
                        <thead>
                          <tr role="row">
                            <th class="sorting_desc" tabindex="0" aria-controls="example2" rowspan="1" colspan="1" aria-label="Rendering engine: activate to sort column ascending" aria-sort="descending">Student</th>
                            <th class="sorting" tabindex="0" aria-controls="example2" rowspan="1" colspan="1" aria-label="Browser: activate to sort column ascending">Email</th>
                            <th class="sorting" tabindex="0" aria-controls="example2" rowspan="1" colspan="1" aria-label="Platform(s): activate to sort column ascending">Homeworks</th>
                            <th class="sorting" tabindex="0" aria-controls="example2" rowspan="1" colspan="1" aria-label="Engine version: activate to sort column ascending">Action</th>
                          </tr>
                        </thead>
                      <tbody>
                        <tr role="row" class="odd">
                          <td class="sorting_1">Student A</td>
                          <td>a@email</td>
                          <td>10</td>
                          <td><a href="#">Detail</a></td>
                        </tr>
                        <tr role="row" class="even">
                          <td class="sorting_1">Student B</td>
                          <td>b@email</td>
                          <td>4</td>
                          <td><a href="#">Detail</a></td>
                        </tr>
                        <tr role="row" class="odd">
                          <td class="sorting_1">Student C</td>
                          <td>c@email</td>
                          <td>7</td>
                          <td><a href="#">Detail</a></td>
                        </tr>
                        <tr role="row" class="even">
                          <td class="sorting_1">Student D</td>
                          <td>d@email</td>
                          <td>5</td>
                          <td><a href="#">Detail</a></td>
                        </tr>
                      </tbody>
                      <tfoot>
                        <tr>
                          <th rowspan="1" colspan="1">Student</th>
                          <th rowspan="1" colspan="1">Email</th>
                          <th rowspan="1" colspan="1">Homeworks</th>
                          <th rowspan="1" colspan="1">Action</th>
                      </tfoot>
                    </table>
                  </div>
                </div>
                <div class="row">
                  <div class="col-sm-2 col-sm-offset-10 col-md-2 col-md-offset-10">
                    <a href="create-student.html" type="button" class="btn btn-block btn-primary">ADD</a>
                  </div>
                </div>
              </div>
              <!-- /.box-body -->
            </div>
          </div>
        </div>
      </div>